In [1]:
import pyspark
import pyspark.sql.functions as func
import pyspark.sql.types as types
import pyspark
spark = pyspark.sql.SparkSession.builder \
    .appName("houseStatsDf") \
    .getOrCreate()
sc = spark.sparkContext

In [42]:
tmp = spark.read.format("csv") \
         .option("header", "true") \
         .option("mode", "DROPMALFORMED") \
         .load('data/Bike-Sharing-Dataset/hour.csv')

In [43]:
tmp

DataFrame[instant: string, dteday: string, season: string, yr: string, mnth: string, hr: string, holiday: string, weekday: string, workingday: string, weathersit: string, temp: string, atemp: string, hum: string, windspeed: string, casual: string, registered: string, cnt: string]

In [44]:
tmp.take(5)

[Row(instant='1', dteday='2011-01-01', season='1', yr='0', mnth='1', hr='0', holiday='0', weekday='6', workingday='0', weathersit='1', temp='0.24', atemp='0.2879', hum='0.81', windspeed='0', casual='3', registered='13', cnt='16'),
 Row(instant='2', dteday='2011-01-01', season='1', yr='0', mnth='1', hr='1', holiday='0', weekday='6', workingday='0', weathersit='1', temp='0.22', atemp='0.2727', hum='0.8', windspeed='0', casual='8', registered='32', cnt='40'),
 Row(instant='3', dteday='2011-01-01', season='1', yr='0', mnth='1', hr='2', holiday='0', weekday='6', workingday='0', weathersit='1', temp='0.22', atemp='0.2727', hum='0.8', windspeed='0', casual='5', registered='27', cnt='32'),
 Row(instant='4', dteday='2011-01-01', season='1', yr='0', mnth='1', hr='3', holiday='0', weekday='6', workingday='0', weathersit='1', temp='0.24', atemp='0.2879', hum='0.75', windspeed='0', casual='3', registered='10', cnt='13'),
 Row(instant='5', dteday='2011-01-01', season='1', yr='0', mnth='1', hr='4', holiday='0', weekday='6', workingday='0', weathersit='1', temp='0.24', atemp='0.2879', hum='0.75', windspeed='0', casual='0', registered='1', cnt='1')]

In [45]:
type(tmp)

pyspark.sql.dataframe.DataFrame

In [46]:
tmp.printSchema()
tmp.show()

root
 |-- instant: string (nullable = true)
 |-- dteday: string (nullable = true)
 |-- season: string (nullable = true)
 |-- yr: string (nullable = true)
 |-- mnth: string (nullable = true)
 |-- hr: string (nullable = true)
 |-- holiday: string (nullable = true)
 |-- weekday: string (nullable = true)
 |-- workingday: string (nullable = true)
 |-- weathersit: string (nullable = true)
 |-- temp: string (nullable = true)
 |-- atemp: string (nullable = true)
 |-- hum: string (nullable = true)
 |-- windspeed: string (nullable = true)
 |-- casual: string (nullable = true)
 |-- registered: string (nullable = true)
 |-- cnt: string (nullable = true)

+-------+----------+------+---+----+---+-------+-------+----------+----------+----+------+----+---------+------+----------+---+
|instant|    dteday|season| yr|mnth| hr|holiday|weekday|workingday|weathersit|temp| atemp| hum|windspeed|casual|registered|cnt|
+-------+----------+------+---+----+---+-------+-------+----------+----------+----+------+----+---------+------+----------+---+
|      1|2011-01-01|     1|  0|   1|  0|      0|      6|         0|         1|0.24|0.2879|0.81|        0|     3|        13| 16|
|      2|2011-01-01|     1|  0|   1|  1|      0|      6|         0|         1|0.22|0.2727| 0.8|        0|     8|        32| 40|
|      3|2011-01-01|     1|  0|   1|  2|      0|      6|         0|         1|0.22|0.2727| 0.8|        0|     5|        27| 32|
|      4|2011-01-01|     1|  0|   1|  3|      0|      6|         0|         1|0.24|0.2879|0.75|        0|     3|        10| 13|
|      5|2011-01-01|     1|  0|   1|  4|      0|      6|         0|         1|0.24|0.2879|0.75|        0|     0|         1|  1|
|      6|2011-01-01|     1|  0|   1|  5|      0|      6|         0|         2|0.24|0.2576|0.75|   0.0896|     0|         1|  1|
|      7|2011-01-01|     1|  0|   1|  6|      0|      6|         0|         1|0.22|0.2727| 0.8|        0|     2|         0|  2|
|      8|2011-01-01|     1|  0|   1|  7|      0|      6|         0|         1| 0.2|0.2576|0.86|        0|     1|         2|  3|
|      9|2011-01-01|     1|  0|   1|  8|      0|      6|         0|         1|0.24|0.2879|0.75|        0|     1|         7|  8|
|     10|2011-01-01|     1|  0|   1|  9|      0|      6|         0|         1|0.32|0.3485|0.76|        0|     8|         6| 14|
|     11|2011-01-01|     1|  0|   1| 10|      0|      6|         0|         1|0.38|0.3939|0.76|   0.2537|    12|        24| 36|
|     12|2011-01-01|     1|  0|   1| 11|      0|      6|         0|         1|0.36|0.3333|0.81|   0.2836|    26|        30| 56|
|     13|2011-01-01|     1|  0|   1| 12|      0|      6|         0|         1|0.42|0.4242|0.77|   0.2836|    29|        55| 84|
|     14|2011-01-01|     1|  0|   1| 13|      0|      6|         0|         2|0.46|0.4545|0.72|   0.2985|    47|        47| 94|
|     15|2011-01-01|     1|  0|   1| 14|      0|      6|         0|         2|0.46|0.4545|0.72|   0.2836|    35|        71|106|
|     16|2011-01-01|     1|  0|   1| 15|      0|      6|         0|         2|0.44|0.4394|0.77|   0.2985|    40|        70|110|
|     17|2011-01-01|     1|  0|   1| 16|      0|      6|         0|         2|0.42|0.4242|0.82|   0.2985|    41|        52| 93|
|     18|2011-01-01|     1|  0|   1| 17|      0|      6|         0|         2|0.44|0.4394|0.82|   0.2836|    15|        52| 67|
|     19|2011-01-01|     1|  0|   1| 18|      0|      6|         0|         3|0.42|0.4242|0.88|   0.2537|     9|        26| 35|
|     20|2011-01-01|     1|  0|   1| 19|      0|      6|         0|         3|0.42|0.4242|0.88|   0.2537|     6|        31| 37|
+-------+----------+------+---+----+---+-------+-------+----------+----------+----+------+----+---------+------+----------+---+
only showing top 20 rows

In [48]:
tmp_GB = tmp.groupBy('dteday','season') \
    .agg(func.avg('temp').alias('avgTemp'),
         func.avg('atemp').alias('avgAtemp'),
         func.avg('hum').alias('avgHum'),
         func.avg('windspeed').alias('avgWindspeed')) \
    .orderBy('dteday','season')
tmp_GB.show()

+----------+------+-------------------+-------------------+-------------------+-------------------+
|    dteday|season|            avgTemp|           avgAtemp|             avgHum|       avgWindspeed|
+----------+------+-------------------+-------------------+-------------------+-------------------+
|2011-01-01|     1|0.34416666666666673|0.36362500000000003| 0.8058333333333335| 0.1604458333333333|
|2011-01-02|     1|0.36347826086956525|0.35373913043478267| 0.6960869565217392|0.24853913043478262|
|2011-01-03|     1|0.19636363636363632|0.18940454545454546|0.43727272727272726| 0.2483090909090908|
|2011-01-04|     1|0.19999999999999998|0.21212173913043478| 0.5904347826086958|  0.160295652173913|
|2011-01-05|     1|0.22695652173913042| 0.2292695652173913| 0.4369565217391305|             0.1869|
|2011-01-06|     1|0.20434782608695654|0.23320869565217398| 0.5182608695652174|0.08956521739130435|
|2011-01-07|     1|0.19652173913043483| 0.2088391304347826| 0.4986956521739131|0.16872608695652172|
|2011-01-08|     1|0.16500000000000006|0.16225416666666667| 0.5358333333333333| 0.2668041666666667|
|2011-01-09|     1| 0.1383333333333334|0.11617500000000003| 0.4341666666666668|0.36195000000000005|
|2011-01-10|     1| 0.1508333333333334|          0.1508875| 0.4829166666666667| 0.2232666666666666|
|2011-01-11|     1|0.16909090909090915|0.19146363636363636| 0.6863636363636362|0.12213181818181815|
|2011-01-12|     1|0.17272727272727278| 0.1604727272727273| 0.5995454545454547| 0.3046272727272728|
|2011-01-13|     1|0.16500000000000006|0.15088333333333334|0.47041666666666687|              0.301|
|2011-01-14|     1|0.16086956521739135|0.18841304347826088| 0.5378260869565218|0.12654782608695653|
|2011-01-15|     1| 0.2333333333333333|0.24811249999999999|0.49874999999999997|0.15796249999999995|
|2011-01-16|     1| 0.2316666666666667| 0.2342166666666667| 0.4837500000000001| 0.1884333333333333|
|2011-01-17|     1| 0.1758333333333334|0.17677083333333335|             0.5375|0.19401666666666664|
|2011-01-18|     1| 0.2166666666666667|0.23233333333333336| 0.8616666666666667|0.14677500000000002|
|2011-01-19|     1| 0.2921739130434783| 0.2984217391304348| 0.7417391304347823|0.20831739130434784|
|2011-01-20|     1|0.26166666666666666|            0.25505| 0.5383333333333334|0.19590416666666666|
+----------+------+-------------------+-------------------+-------------------+-------------------+
only showing top 20 rows

In [49]:
tmp_GB.createTempView('stat')

In [58]:
spark.sql("""
SELECT * FROM stat
WHERE season <> 1
""").show()

+----------+------+-------------------+-------------------+-------------------+-------------------+
|    dteday|season|            avgTemp|           avgAtemp|             avgHum|       avgWindspeed|
+----------+------+-------------------+-------------------+-------------------+-------------------+
|2011-03-21|     2| 0.4304347826086957|0.40973478260869556| 0.7373913043478261|0.28878260869565225|
|2011-03-22|     2|0.44166666666666665|0.44064166666666665| 0.6245833333333333|0.22575000000000003|
|2011-03-23|     2| 0.3469565217391305| 0.3379391304347827| 0.8395652173913042|0.23426086956521738|
|2011-03-24|     2| 0.2849999999999999| 0.2708333333333333| 0.8058333333333328|0.24378749999999996|
|2011-03-25|     2| 0.2641666666666666|0.25631249999999994| 0.4950000000000001|0.23072499999999999|
|2011-03-26|     2|0.26583333333333337|0.25757083333333336| 0.3941666666666667|0.20957083333333335|
|2011-03-27|     2| 0.2530434782608695| 0.2503391304347826|0.49391304347826087|             0.1843|
|2011-03-28|     2| 0.2643478260869565|0.25757391304347826|0.30217391304347824|0.21220434782608688|
|2011-03-29|     2|0.30250000000000005| 0.2929083333333333|0.31416666666666676|0.22699583333333337|
|2011-03-30|     2|0.30000000000000004|0.29735000000000006| 0.6466666666666666|0.17288749999999997|
|2011-03-31|     2| 0.2683333333333333|           0.257575| 0.9183333333333331| 0.2176458333333333|
|2011-04-01|     2|                0.3| 0.2834541666666667| 0.6862500000000001| 0.2587083333333334|
|2011-04-02|     2|              0.315|0.31563750000000007| 0.6537499999999999|0.19714583333333335|
|2011-04-03|     2|0.37833333333333335|0.37876666666666675|               0.48|0.18221249999999997|
|2011-04-04|     2| 0.5733333333333333| 0.5429291666666667| 0.4262500000000002|0.38557083333333336|
|2011-04-05|     2|0.41416666666666674|0.39835000000000004| 0.6420833333333336| 0.3880666666666666|
|2011-04-06|     2|0.39083333333333337| 0.3876083333333333| 0.4708333333333334|0.26306250000000003|
|2011-04-07|     2|             0.4375|0.43369583333333334| 0.6029166666666667|          0.1623125|
|2011-04-08|     2| 0.3358333333333334| 0.3244791666666667| 0.8362499999999998|0.22699166666666662|
|2011-04-09|     2|             0.3425|0.34152916666666666|             0.8775|0.13308333333333333|
+----------+------+-------------------+-------------------+-------------------+-------------------+
only showing top 20 rows

In [59]:
spark.catalog.listTables()

[Table(name='stat', database=None, description=None, tableType='TEMPORARY', isTemporary=True)]